.carousel-container {
  width: 60%;
}

.carousel {
  text-align: center;
  height: auto;
}

.carousel-slider {
  width: 100% !important;
  aspect-ratio: 16 / 9 !important;
}

.carousel .thumb {
  min-width: 9.5%;
  height: auto;
  box-shadow: 0 1px 4px black;
  border-radius: 4px;
}

.legend {
  font-size: 1em !important;
}
