@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto';
}

* {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spacing {
  padding-top: 70px;
}
.container-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #034f84;
  color: white;
  flex-direction: column;
}

.container-404 div {
  width: 800px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.container-404 div p {
  font-size: 4em;
}

.navbar-nav .nav-link {
  padding-bottom: 15px !important;
}

.page-link {
  font-size: 2rem;
  aspect-ratio: 1 / 1;
  width: 60px;
}

.li-pagination {
  margin: 20px 10px;
}

.pagination-button {
  margin-bottom: 40px;
  padding: 0 35px;
  padding-bottom: 5px;
  border: none;
  font-weight: 700;
  color: #0d6efd;
  font-size: 1.7rem;
}
